* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 16px 120px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.nav {
    display: flex;
    gap: 32px;
}

a {
    font-size: 18px;
    color: #f9faf8;
    text-decoration: none;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #1f2937;
    padding: 64px 120px;
    gap: 32px;

}

.hero--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.hero--content h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero--content p, button {
    font-size: 18px;
    color: #e5e7eb;
}

.hero--content button {
    background: none;
    border: none;
    border-radius: 8px;
    background-color: #3882f6;
    padding: 8px 32px;
    font-weight: bold;
    cursor: pointer;
}

.img--box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.img--box img {
    max-width: 50%;
}

.info--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 32px 120px 64px 120px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info--cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.card--img--box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    background-color: #f9faf8;
    border: 3px solid #3882f6;
    border-radius: 16px;
    width: 256px;
    height: 256px;
}

.card--img--box img {
    max-width: 50%;
}

.card span {
    font-size: 18px;
}

.quote--content {}

.quote--content p {}

.quote--content span {}

.call-to-action {}

.cta--box {}

.cta--box h4 {}

.cta--box p {}

.cta--box button {}

footer {}